<div class="container">
  <h1>Add New restaurant</h1>
  <%= simple_form_for @restaurant do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :category %>

    <%= f.button :submit, class: "btn-primary" %>
  <% end %>
</div>
